.NavbarWrapper {
    display: flex;
    justify-content: space-between;
}
.NavbarContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signIn {
    width: 104px;
    border-radius: 10px;
    background-color: #E2B887;
    cursor: pointer;
}
.Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
ul {
    list-style: none;
    display: flex;
    cursor: pointer;
}
.LinkWrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 0% 27%;
    color: #FFFFFF;
}
a:link {
    text-decoration: none;
}
li {
    margin-top: 0;
    margin-right: 30px;
}
.IconWrapper {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    height: auto;
}
.img{
    margin-top: 0px;
    margin-right: 0px;
}