.LandingPage {
    background: #00302E;
}
.right {
    margin-top: -50px;
    width: 44%;
    padding: 80px;
  }
  .left {
    width: 60%;
    margin-left: 110px;
    margin-top: 90px;
  }
  .bodyWrapper {
    display: flex;
    height: 550px;
    top: 0px;
  }
  .order {
    color: #ffffff;
    text-align: left;
    font-family: "Arial Narrow";
    font-style: normal;
    font-size: 44px;
    line-height: 80px;
  }
  h2 {
    display: inline;
  }
  .diff {
    color: #fbddbb;
  }
  .next {
    margin-top: 15px;
    width: 490px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
  }
  .google {
    margin-right: 10px;
    margin-left: -440px;
    align-items: flex-start;
  }