.LoginWrapper {
  display: flex;
}
.LeftWrapper {
  width: 50%;
  background: rgba(226, 184, 135, 0.4);
  height: 100%;
}
.immmg {
    position: absolute;
    width: 764px;
    height: 900px;
    left: 0px;
    top: 0px;
}
.welcome {
    margin-top: -150px;
  margin-bottom: 61px;
}
.input {
    width: 480px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 48px;
    padding: 8px 20px;
}
.input1 {
    width: 480px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 48px;
    padding: 8px 20px;
}
.RightWrapper {
  margin-top: 275px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginBtn {
  width: 530px;
  height: 60px;
  left: 845px;
  top: 610px;
  background: #00302e;
  border-radius: 5px;
  padding: 15px 40px;
  cursor: pointer;
  margin-bottom: 20px;
}
.lin {
    margin-right: 0px;
}
